<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">
<div layout:fragment="script">
    <script th:src="@{/js/oauthSignup.js}"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script th:src="@{'//dapi.kakao.com/v2/maps/sdk.js?appkey='+${@environment.getProperty('app.kakaomap')}+'&libraries=services'}"></script>


</div>
<div layout:fragment="css">
    <link th:href="@{/css/signup.css}" rel="stylesheet">

</div>
<div layout:fragment="content">
    <div class="center">
        <div class="w-25 p-3">
            <div class="logo">
                <p>세차매니아에 오신것을 환영합니다!</p>
            </div>
            <div class="loginForm">
                <div class="profile_img_wrap">
                    <img id="profile_img" class="profile_img"
                         src="/img/defaultProfile.jpg"/>
                    <div class="trash_cover" id="delete_img">
                        <label></label>
                    </div>
                </div>
                <form action="/signup" method="POST" id="join_form" enctype="multipart/form-data">
                    <p><b>원활한 서비스 사용을 위해 추가 정보를 입력해주세요</b></p>
                    <div>
                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="닉네임">
                    </div>
                    <div id="nickname_check"><br></div>
                    <div class="email_line">
                        <input type="text" class="form-control" name="roadAddress" id="findAddr" placeholder="주소">
                        <input type="button" class="btn btn-outline-dark" id="daumPostBtn" value="주소 검색"><br>
                    </div>
                        <input type="text" class="form-control" name="extraAddr" id="extra_addr" placeholder="상세주소">
                        <div class="photo">
                            <label for="profileImage" class="form-label">사용하실 프로필 이미지를 등록해주세요</label>
                            <input type="file" class="form-control" name="file" id="profileImage" accept="image/*"/>
                        </div>
                    <div class="inform">
                        <span>계정 생성은 서비스 약관에 동의하며 개인정보 보호정책을 검토했다는 뜻입니다. 이 사이트는 개인정보 보호정책 및 서비스 약관이 적용됩니다.</span>
                    </div>
                    <button type="submit" class="btn btn-warning" id="submitBtn">확인</button>
                </form>
            </div>

        </div>
    </div>
</div>
</html>