.navbar{
    border-bottom: 1px solid #eeeeee;
    background-color: white;
    z-index: 1000;
}
.nav a{
    margin: 15px 5px;
    color: black;
    font-size: 16px;
}
.nav button{
    margin: 15px 5px;
    font-size: large;
}

.navbar.navbar-expand-lg{
    padding: 15px 15%;
}
*{
    font-family: 'IBM Plex Sans KR', sans-serif;
}
a{
    color: black;
}
.content{
    margin-top:110px;
}
.beforeLogin{
    display: inline-block;
}
.afterLogin{
    display: none;
}
#admin{
    display: none;
}